In [73]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
#from sklearn.linear_model import LinerRegression
#from sklearn.model_selection import train_test_split
#from sklearn.model_selection import train_test_split

In [74]:
rentalDF = pd.read_csv('data/rental_1000.csv')

In [75]:
rentalDF

     rooms  sqft   price
0        4  1334   69702
1        5  1725   86083
2        1  1058   53492
3        2  2117  106500
4        2  2225  110860
..     ...   ...     ...
995      2   724   36981
996      2  2305  114239
997      4  1782   88291
998      2  1449   75552
999      2  1190   60859

[1000 rows x 3 columns]

# Features and Labels
- rooms
- sqft

# Labels
- price

In [76]:
#import numpy as np
#from sklearn.linear_model import LinearRegression
#from sklearn.model_selection import train_test_split
X = rentalDF[['rooms','sqft']].values # Features
y = rentalDF['price'].values   # Labels
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.20)

# Model Training

In [77]:
model = LinearRegression().fit(X,y)

In [78]:
print(X_test[0])
#X_test[0]

[  2 886]

# Model Prediction

In [79]:
model.predict(X_test[0].reshape(1,-1))[0]

np.float64(45479.43466826961)

In [80]:
predict_rental_price = model.predict(X_test[0].reshape(1,-1))[0]

In [81]:
print("The Actual Rental Price for Rooms with count = ",X_test[0][0],"and","Area in Sqft = ",X_test[0][1],"is =",y_test[0])

The Actual Rental Price for Rooms with count =  2 and Area in Sqft =  886 is = 46863

In [82]:
print("The Actual Rental Price for Rooms with count = ",X_test[0][0],"and","Area in Sqft = ",X_test[0][1],"is =",y_test[0])
print("The Predicated Rental Price for Rooms with count = ",X_test[0][0],"and","Area in Sqft = ",X_test[0][1],"is =",predict_rental_price)

The Actual Rental Price for Rooms with count =  2 and Area in Sqft =  886 is = 46863
The Predicated Rental Price for Rooms with count =  2 and Area in Sqft =  886 is = 45479.43466826961